*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F4F9FF;
}

.blue-button{
    font-weight: bold;
    color: white;
    background-color: #006EF2;
    border-radius: 5px;
    transition: 300ms;
    border: none;
}

.blue-button:hover{
    cursor: pointer;
    background-color: #0157c1;
}

.main-nav{
    width: 100%;
    background-color: #0D0D0D;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #313131;
}

.burger{
    display: none;
}

.inner-nav{
    width: 84%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-container{
    display: flex;
    align-items: center;
}

.nav-links{
    margin: 0px 10px;
    text-decoration: none;
    color: #62687C;
    font-weight: bold;
    font-size: 0.9em;
}

.current-link{
    color: #006EF2;
}

.nav-button{
    margin-left: 120px;
    padding: 0.8em 1.8em;
}

.header{
    display: flex;
    align-items: center;
    width: 84%;
    margin: auto;
    padding: 6em 0em;
}

.header-container{
    background-image: url("./images/background2.svg"), url("./images/background3.svg");
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    background-size: 35%, 35%;
    aspect-ratio: 1 / 1, 1 / 1;
    background-color: #000005;
}

.header-content{
    width: 58%;
    font-weight: bold;
}

.header-description{
    font-size: 1.2em;
    color: #62687C;
}

.header-main-description{
    font-family: 'Play', sans-serif;
    font-size: 3em;
    color: white;
    margin: 10px 0px;
}

.header-image{
    background-image: url("./images/background1.svg");
    background-repeat: no-repeat;
    aspect-ratio: 5 / 3;
    width: 42%;
    background-size: cover;
}

.button-container{
    display: flex;
    gap: 1.5em;
    margin-top: 4em;
}

.header-button{
    padding: 0.75em 2.1em;
    font-size: 1.1em;
}

.category-title-div{
    width: 50%;
    margin: auto;
}

.category-div, .work-process-div{
    display: flex;
    /* margin: 20px 120px; */
    gap: 2em;
    width: 84%;
    margin: auto;
    margin-bottom: 2em;
}

.category-button{
    padding: 0.6em 1.8em;
}

.work-process-div{
    margin-bottom: 1.5em;
}

.category-description, .work-process-description{
    text-align: center;
    font-size: 0.8em;
    color: #838589;
}

.work-process-div{
    gap: 1.5em;
}

.category, .work-process{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    transition: 300ms;
}

.category:hover, .work-process:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px 5px rgb(222, 222, 222);
}

.category img{
    width: 90px;
    height: 90px;
}

.category button{
    margin-top: 20px;
}

.about-us, .services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.9em 0em;
    gap: 5em;
}

.services{
    background-color: #F4F9FF;
}

.about-us-image, .services-image{
    width: 44%;
    max-height: 500px;
    aspect-ratio: 5 / 3;
}

.about-us-content, .services-content{
    width: 40%;
}

.our-services{
    padding: 1.7em 0em;
    background-image: url("./images/services-bg.svg");
    background-size: cover;
    font-family: 'Play', sans-serif;
    z-index: 2;
}

.service-checks-div{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    margin-bottom: 1.5em;
}

.security-service{
    display: flex;
    gap: 1em;
}

.service-checks{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #E3F0FF;
    transition: 300ms;
}

.service-checks:hover{
    transform: translateY(-5px);
}

.service-checks img{
    height: 1.5em;
    margin: 0.5em;
}

.service-checks p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 0.8em;
}

.service-button{
    padding: 12px 34px;
    margin-top: 1.5em;
}

.reverse{
    flex-direction: row-reverse;
}

.pricing{
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5em 0em;
    margin-bottom: 13em;
}

.pricing-title{
    font-size: 2em; 
    color: #F0F3FF; 
    font-family: 'Play', sans-serif; 
    margin: 0; 
    text-align: center;
    font-weight: bold;
}

.pricing-button{
    font-size: 1.12em;
    padding: 0.75em 1.3em;
}

.newsletter-button{
    padding: 10px 10px;
    letter-spacing: 0.9px;
}

.newsletter{
    background-color: #006EF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 3.3em;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    transform: translateY(-50%);
    color: white;
}

.newsletter-text{
    font-weight: 600; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 10px;
}

.text-one{
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.text-two{
    font-size: 2.3em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.newsletter-subscribe{
    background-color: #F0F3FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    border-radius: 10px;
    width: 40%;
}

.newsletter-subscribe input{
    background-color: #F0F3FF;
    min-width: 10px;
    outline: none;
    border: none;
    padding: 8px 0px;
}

input::placeholder{
    font-size: 1.09em;
}

.footer{
    background-color: #0D0D0D;
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    cursor: pointer;
}

.footer-content-div{
    display: flex;
    gap: 2em;
    padding-bottom: 4em;
    align-items: start;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer-content{
    font-size: 0.8em;
}

.chat{
    position: fixed;
    bottom: 89px;
    right: 7em;
    color: white;
    /* background-color: white; */
    height: fit-content;
    z-index: 1;
}

.chat h2:hover{
    cursor: pointer;
}

.footer-end{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #595959;
}

.hide{
    display: none;
}

.footer-socials{
    display: none;
}

.footer-icons{
    display: flex;
    gap: 5px;
}

.icon{
    width: 29px;
    height: 29px;
    background-color: #1C1C1C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.icon:hover{
    background-color: #006EF2;
}

@media screen and (max-width: 900px) {
    .header{
        flex-direction: column-reverse;
        padding: 3em 0em;
        width: 90%;
    }

    .header-image{
        width: 68%;
        margin-left: 0px;
    }

    .header-main-description{
        font-size: 1.9em;
    }

    .nav-button, .nav-links-container{
        display: none;
    }

    .header-content{
        width: 100%;
    }

    .category-div, .work-process-div{
        flex-direction: column;
        justify-content: center;
    }

    .category-title-div{
        width: 80%;
    }

    .about-us, .services{
        flex-direction: column;
        align-items: center;
        padding: 1.5em 1.5em;
        gap: 2em;
    }

    .about-us-image, .about-us-content, .services-image, .services-content{
        width: 95%;
    }

    .service-checks-div{
        grid-template-columns: auto;
    }

    .service-checks p{
        font-size: 0.7em;
    }

    .security-service, .reverse{
        flex-direction: column;
    }

    .footer{
        padding: 0;
    }

    .newsletter{
        padding: 1.3em;
        border-radius: 0px;
        width: 100%;
    }

    .text-one{
        font-size: 0.72em;
    }

    .text-two{
        font-size: 0.87em;
    }

    .newsletter-subscribe{
        padding: 4px;
        border-radius: 5px;
        min-width: 189px;
    }

    .newsletter-subscribe input, .newsletter-button{
        font-size: 0.6em;
        border-radius: 5px;
    }

    .newsletter-button{
        font-size: 0.5em;
        padding: 7px;
    }

    .pricing{
        font-size: 0.7em;
        padding-left: 1.8em;
        padding-right: 1.8em;
    }

    .burger{
        display: block;
    }

    .burger-links{
        position: fixed;
        background-color: white;
        width: 90%;
        margin: auto;
        border-radius: 5px;
        /* height: 250px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translate(-90%, 10%);
        font-size: 0.8em;
        text-align: center;
    }

    .drop-links{
        text-decoration: none;
        color: black;
    }

    .hide-nav-dropdown{
        display: none;
    }

    .pricing{
        margin-bottom: 40px;
    }

    .newsletter{
        transform: translateX(0px);
    }

    .footer-inner{
        padding-left: 0em;
        padding-right: 0em;
    }

    .footer-content-div{
        display: none;
    }

    .hide{
        display: block;
    }

    .link-dropdown{
        display: flex;
        padding: 15px;
        justify-content: space-between;
        color: white;
    }

    .dropdown-content{
        max-height: 0;
        transition: max-height 300ms;
        overflow: hidden;
    }

    .showcontent{
        max-height: 100%;
        transition: max-height 300ms;
    }

    .showcontent-flip{
        transform: rotate(180deg);
    }

    .footer-end{
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding-bottom: 30px;
    }

    .footer-socials{
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        gap: 10px;
    }

    .chat{
        right: 2em;
    }
}
