body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F4F9FF;
}

.header-button, .category-button, .nav-button, .service-button, .pricing-button, .newsletter-button{
    width: 154px;
    padding: 10px 0px;
    color: white;
    background-color: #006EF2;
    border-radius: 5px;
    border: none
}

.main-nav{
    width: 100%;
    background-color: #0D0D0D;
}

.inner-nav{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    color: #006EF2;
    font-size: 1.2em;
}

.logo-container img{
    height: 40px;
    width: 40px;
    margin-right: 7px;
}

.links-container{
    display: flex;
    align-items: center;
}

.nav-links{
    margin: 0px 10px;
    text-decoration: none;
    color: #62687C;
}

.current-link{
    color: #006EF2;
}

.nav-button{
    margin-left: 130px;
    width: 120px;
}

.header{
    background-image: url("./images/background2.svg"), url("./images/background3.svg");
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    background-size: 35%, 35%;
    aspect-ratio: 1 / 1, 1 / 1;
    background-color: #000005;
    /* aspect-ratio: 16 / 6; */
    display: flex;
    align-items: center;
    padding: 5em 7em;
}

.header-content{
    width: 45%;
}

.header-description{
    font-size: 1.2em;
    color: #62687C;
}

.header-main-description{
    font-family: 'Play', sans-serif;
    font-size: 3em;
    color: white;
}

.header-image{
    background-image: url("./images/background1.svg");
    background-repeat: no-repeat;
    /* height: 70%; */
    width: 60%;
    aspect-ratio: 5 / 3;
    background-size: cover;
    margin-left: 20px;
}

.button-container{
    display: flex;
    gap: 1.5em;
}

.category-title-div{
    width: 50%;
    margin: auto;
}

.category-div, .work-process-div{
    display: flex;
    margin: 20px 120px;
    gap: 2em;
}

.work-process-div{
    gap: 1.5em;
    margin: 20px 120px;
}

.category, .work-process{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2.7em;
    border-radius: 10px;
}
.category img{
    width: 90px;
    height: 90px;
}

.category button{
    margin-top: 20px;
}

.about-us, .services{
    display: flex;
    justify-content: center;
    padding: 3.9em 0em;
    gap: 5em;
}

.services{
    background-color: #F4F9FF;
}

.about-us-image, .services-image{
    width: 40%;
    max-height: 400px;
    aspect-ratio: 5 / 3;
}

.about-us-content, .services-content{
    width: 40%;
}

.our-services{
    padding: 1.7em 0em;
    background-image: url("./images/services-bg.svg");
    background-size: cover;
    font-family: 'Play', sans-serif;
    box-shadow: 0px 4px 5px #006EF2;
    z-index: 2;
}

.service-checks-div{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    margin-bottom: 1.5em;
}

.security-service{
    display: flex;
    gap: 1em;
}

.service-checks{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #E3F0FF;
}

.service-checks img{
    height: 2em;
    margin: 0.5em;
}

.service-checks p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.reverse{
    flex-direction: row-reverse;
}

.pricing{
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5em 2em;
    margin-bottom: 13em;
}

.newsletter-button{
    width: auto;
    padding: 10px 10px;
}

.footer{
    background-color: #0D0D0D;
    color: white;
    padding-left: 7em;
    padding-right: 7em;
}

.newsletter{
    background-color: #006EF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.3em;
    border-radius: 10px;
    transform: translateY(-50%);
}

.newsletter-subscribe{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    border-radius: 10px;
    width: 40%;
}

.newsletter-subscribe input{
    min-width: 10px;
    outline: none;
    border: none;
    border: 2px solid white;
    padding: 8px;
}

@media screen and (max-width: 900px) {
    .header{
        flex-direction: column-reverse;
        padding: 3em 3em;
    }

    .header-image{
        width: 90%;
    }

    .header-content{
        width: 90%;
    }

    .category-div, .work-process-div{
        flex-direction: column;
        margin: 1.2em 2em;
    }

    .category-title-div{
        width: 80%;
    }

    .work-process-div{
        margin: 1em 1.5em;
    }

    .about-us, .services{
        flex-direction: column;
        align-items: center;
        padding: 1.5em 1.5em;
        gap: 2em;
    }

    .about-us-image, .about-us-content, .services-image, .services-content{
        width: 90%;
    }

    .service-checks-div{
        grid-template-columns: auto;
    }

    .security-service, .reverse{
        flex-direction: column;
    }

    .footer{
        padding: 0;
    }

    .newsletter{
        padding: 3.3em 1em;
        border-radius: 0px;
    }

    .newsletter-text{
        font-size: 0.5em;
    }

    .newsletter-subscribe{
        width: 50%;
    }
}
